.app-footer {
  padding: $spacer $app-content-padding-x;
  margin-top: $spacer; // ou 0, se preferir
  border-top: 1px solid $app-footer-border;
  font-weight: $font-weight-bold;
  color: $app-footer-color;
  text-align: center; // para centralizar o conteúdo
}
