// 
// Contact
// 

textarea{
    &.form-control{
        height: auto;
    }
}

.form-control{
    padding: 0.75rem;
    font-size: 14px;
    border-radius: 2px;
    &:focus {
        outline: 0;
        box-shadow: none;
        border-color: $gray-400;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &::placeholder {
        font-size: 14px;
        color: lighten($gray-500, 5%);
    }
}

label {
    &.form-label {
        font-size: 15px;
        font-family: $font-secondary;
        font-weight: 500;
        color: $gray-600;
    }
}
.form-check-label {
    font-size: 15px;
    font-family: $font-secondary;
}

.contact-icon {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 24px;
}
